*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;

    background-image: linear-gradient(to bottom right, var(--accent) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Variables */
:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-tomato: #d40640;
    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);

    --color-orange: #ff3c00;

    --color-light-black: #222;
    --color-black: #000;

    --shadow: rgba(0, 0, 0, .4);

    --primary: #d63c6b;
    --primary-dk: #c41c4f;
    --accent: #5cc8ff;
    --accent-dk: #00a3f5;
}

.app {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    height: 72vh;
    width: 35%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--color-light-black);
}

.result-screen {
    height: 16vh;
    font-size: 8rem;
    font-weight: 600;
    text-align: right;
    overflow-x: scroll;
    white-space: nowrap;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: right;
}

.screen {
    height: 22vh;
    width: 100%;
    padding: 0 2rem;
    white-space: nowrap;
    color: var(--color-light-white);
    background-color: var(--color-pink-transparent);
}

/*.computation-screen::-webkit-scrollbar {*/
    /*width: 0.5rem;*/
/*}*/

/*.computation-screen::-webkit-scrollbar:horizontal {*/
    /*height: 0.5rem;*/
/*}*/

/*.computation-screen::-webkit-scrollbar-track, ::-webkit-scrollbar:horizontal {*/
     /*background-color: var(--color-black);*/
 /*}*/

/*.computation-screen::-webkit-scrollbar-thumb, ::-webkit-scrollbar:horizontal {*/
     /*background-color: var(--accent-dk);*/
 /*}*/

.keypad__row {
    height: 10vh;
    /* (80vh calculator - 25vh screen) / 5 = 11vh row*/
    width: 100%;
    display: flex;
    color: white;
}

.keypad {
    height: 55vh;
    width: 100%;
}

.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    background-color: var(--color-white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
.btn:hover {
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}
.btn:active {
    transform: scale(.95);
}
